<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center">
  <h1 class="display-1">ÉVÉNEMENTS</h1>
  <div class="d-flex align-self-center ms-4">
    <%= if user_signed_in? then link_to 'CRÉER', new_event_path, class: "btn btn-primary" end%>
  </div>
</div>

<%= render "list"%>